{#
/**
 * Plausible plugin for Craft CMS 3.x
 *
 * Plausible Settings.twig
 *
 * @author    Sean Hill
 * @copyright Copyright (c) 2021 Sean Hill
 * @link      https://shorn.co.uk
 * @package   Plausible
 * @since     1.0.0
 */
#}

{% import "_includes/forms" as forms %}

{{ forms.autosuggestField({
    label: "Base URL"|t('plausible'),
    instructions: "The base URL to the API (only applicable when self-hosting Plausible)."|t('plausible'),
    warning: (config.apiKey is defined ? macros.configWarning('baseUrl')),
    id: 'baseUrl',
    name: 'baseUrl',
    suggestEnvVars: true,
    suggestions: craft.cp.getEnvSuggestions(),
    value: settings.baseUrl,
    errors: settings.getErrors('baseUrl'),
    required: true,
    first: true,
}) }}

{{ forms.autosuggestField({
    label: "API Key"|t('plausible'),
    instructions: 'Enter your Plausible API Key <a href="https://plausible.io/settings" class="go" rel="noopener" target="_blank">Learn more</a>'|t('plausible'),
    warning: (config.apiKey is defined ? macros.configWarning('apiKey')),
    id: 'apiKey',
    name: 'apiKey',
    suggestEnvVars: true,
    suggestions: craft.cp.getEnvSuggestions(),
    value: settings.apiKey,
    errors: settings.getErrors('apiKey'),
    required: true,
}) }}

{{ forms.autosuggestField({
    label: "Site ID"|t('plausible'),
    instructions: 'Enter your Site ID (This is the domain as it is listed in your settings. Usually "domain.com")'|t('plausible'),
    warning: (config.siteId is defined ? macros.configWarning('siteId')),
    id: 'siteId',
    name: 'siteId',
    suggestEnvVars: true,
    suggestions: craft.cp.getEnvSuggestions(),
    value: settings.siteId,
    errors: settings.getErrors('siteId'),
    required: true,
}) }}
