<table class="fullwidth">
	{% if results.error is defined %}
		<p class="error">{{ results.error }}</p>
	{% else %}
        {% set results = results.results|first %}
		<div class="current">
			<div class="blob-container">
				<div class="blob"></div>
			</div>
			<p>{{ results.metrics|first }}</p>
		</div>
		<div class="helper">
			<span>{{ "Refreshed every 60 secs"|t('plausible') }}</span>
		</div>
	{% endif %}
</table>
