{% from "plausible/_macros" import resultBar %}
<table class="fullwidth">
	{% if results.error is defined %}
		<p class="error">{{ results.error }}</p>
	{% else %}
		{% set max = results|first %}
		{% for result in results %}
			<tr>

				{% set uri = result.page|prepUri %}
		        {% set entry = craft.entries().uri(uri|literal).one() %}

				{{ resultBar({
					bg: {
						width: result.visitors|asPercentageOf(max.visitors)
					},
					link: entry ? {
						url: entry.cpEditUrl,
						text: result.page
					},
					text: result.page,
					value: result.visitors
				}) }}
		    </tr>
	    {% endfor %}
    {% endif %}
</table>
