{% from "plausible/_macros" import resultBar %}

<table class="fullwidth">
	{% if results.error is defined %}
		<p class="error">{{ results.error }}</p>
	{% else %}
		{% set results = results.results %}
		{% set max = results|first %}
		{% for result in results %}
			{% set metric = result.metrics|first %}
			{% set dimension = result.dimensions|first %}
			<tr>
		        {{ resultBar({
		        	bg: {
		        		color: 'purple',
		        		width: metric|asPercentageOf(max.metrics|first)
		        	},
		        	text: dimension,
		        	value: metric
		        }) }}
		    </tr>
	    {% endfor %}
	{% endif %}
</table>
