{% import "_includes/forms" as forms %}

{% set timeInput %}

	{% set periods = ['12mo','6mo','month','30d','7d','day'] %}

    <div class="select">
        <select id="timePeriod" name="timePeriod">
            {% for period in periods %}
                <option value="{{ period }}"{% if period == widget.timePeriod %} selected{% endif %}>
                    {{ period|timeLabelize|t('plausible') }}
                </option>
            {% endfor %}
        </select>
    </div>
{% endset %}

{{ forms.field({
    label: "Time period"|t('plausible'),
    id: 'timePeriod',
}, timeInput) }}

{{ forms.textField({
    label: "Number of results"|t('plausible'),
    id: 'limit',
    name: 'limit',
    value: widget.limit,
    size: 2,
    errors: widget.getErrors('limit')
}) }}

