{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Plausible plugin for Craft CMS
 *
 * Plausible Widget Settings
 *
 * @author    Sean Hill
 * @copyright Copyright (c) 2021 Sean Hill
 * @link      https://shorn.co.uk
 * @package   Plausible
 * @since     1.0.0
 */
#}

{% import "_includes/forms" as forms %}

{% do view.registerAssetBundle("shornuk\\plausible\\assetbundles\\plausible\\PlausibleAsset") %}

{% set timeInput %}

	{% set periods = [
		{ handle:'12mo', label: 'Last 12 months'|t('plausible')},
		{ handle:'6mo', label: 'Last 6 months'|t('plausible')},
		{ handle:'month', label: 'This month'|t('plausible')},
		{ handle:'30d', label: 'Last 30 Days'|t('plausible')},
		{ handle:'7d', label: 'Last 7 Days'|t('plausible')},
		{ handle:'day', label: 'Today'|t('plausible')},
	] %}

    <div class="select">
        <select id="timePeriod" name="timePeriod">
            {% for period in periods %}
                <option value="{{ period.handle }}"{% if period.handle == widget.timePeriod %} selected{% endif %}>{{ period.label|t('plausible') }}</option>
            {% endfor %}
        </select>
    </div>
{% endset %}

{{ forms.field({
    label: "Time period"|t('plausible'),
    id: 'timePeriod',
}, timeInput) }}

{{ forms.textField({
    label: "Number of pages"|t('plausible'),
    id: 'limit',
    name: 'limit',
    value: widget.limit,
    size: 2,
    errors: widget.getErrors('limit')
}) }}

